[include macros.cfg]

[mcu CB1]
serial: /tmp/klipper_host_mcu

[temperature_sensor CB1]
sensor_type: temperature_host

[force_move]
enable_force_move: True

[exclude_object]

[mcu]
canbus_uuid: 7dd846d7a862

[danger_options]
autosave_includes: True

# This file contains common pin mappings for the BIGTREETECH Manta E3EZ
# To use this config, the firmware should be compiled for the
# STM32G0B1 with a "8KiB bootloader" "8 MHz crystal"
# and "USB (on PA11/PA12)" or "CAN bus (on PB12/PB13)".

# See docs/Config_Reference.md for a description of parameters.

[input_shaper]
shaper_type_x = mzv
shaper_freq_x = 41.2
shaper_type_y = mzv
shaper_freq_y = 24.8

[autotune_tmc stepper_x]
motor: creality-42-34
tuning_goal: auto
sg4_thrs: 110

[autotune_tmc stepper_y]
motor: creality-42-40
tuning_goal: auto
sg4_thrs: 120

[autotune_tmc stepper_z]
motor: creality-42-34
tuning_goal: auto

[autotune_tmc extruder]
motor: moons-cse14hra1l410a
tuning_goal: auto

[mcu cartographer]
canbus_uuid: c802b72f9ec3

[cartographer]
mcu: cartographer
x_offset: 0 # This is the offset of your probe from the nozzle tip, to the centre of the coil.
y_offset: 26 # This is the offset of your probe from the nozzle tip, to the centre of the coil.
verbose: yes # For extra output

[bed_mesh]
zero_reference_position: 110, 110 # The centre of your bed. 
speed: 300
horizontal_move_z: 3
mesh_min: 20, 20 # The first probed coordinate, nearest to the origin. This coordinate is relative to the probe's location.
mesh_max: 200, 200 # The probed coordinate farthest from the origin. This is not necessarily the last point probed, as the probing process occurs in a zig-zag fashion. As with mesh_min, this coordinate is relative to the probe's location.
probe_count: 20, 20
adaptive_margin: 10
mesh_pps: 0,0 # Disable interpolation - mesh is probably dense enough

[temperature_sensor cartographer]
sensor_type: temperature_mcu
sensor_mcu: cartographer
min_temp: 5
max_temp: 105

#[adxl345]
# Select 1 of the cs_pin below depending on the probe you have. 
# Having the wrong one selected will cause an Endless Bootloop
# Cartographer V4 has int2 connected to the probes PA1 pin
#cs_pin: cartographer:PA0 # For Cartographer V4
#spi_bus: spi1

[resonance_tester]
accel_chip: adxl345
probe_points:
    110, 110, 20 # Fill out the blank with x and y coordinates where you want to run the resonance test.

[safe_z_home]
home_xy_position: 110, 110
z_hop: 10

[stepper_x]
step_pin: PA14
dir_pin: PA10
enable_pin: !PA13
microsteps: 128
rotation_distance: 40
endstop_pin: tmc2209_stepper_x:virtual_endstop
position_endstop: 0
position_max: 220
homing_speed: 50
homing_retract_dist: 10

[stepper_y]
step_pin: PC8
dir_pin: !PA15
enable_pin: !PC14
microsteps: 128
rotation_distance: 40
endstop_pin: tmc2209_stepper_y:virtual_endstop
position_endstop: -8
position_min: -8
position_max: 220
homing_speed: 50
homing_retract_dist: 10

[stepper_z]
endstop_pin: probe:z_virtual_endstop
homing_retract_dist: 0
step_pin: PD2
dir_pin: !PD4
enable_pin: !PD3
microsteps: 128
rotation_distance: 40
position_max: 255
position_min:-15

[heater_bed]
heater_pin: PB2 #HB
sensor_type: EPCOS 100K B57560G104F #Generic 3950
sensor_pin: PA3 #TB
#control: pid
# tuned for stock hardware with 50 degree Celsius target
#pid_Kp: 54.027
#pid_Ki: 0.770
#pid_Kd: 948.182
min_temp: 0
max_temp: 130

[controller_fan mcu_fan]
pin: PA8
stepper: stepper_x, stepper_y, stepper_z

#[heater_fan fan1]
#pin: PB15

#[heater_fan fan2]
#pin: PB14


[printer]
kinematics: corexz
max_velocity: 200
max_accel: 3000
max_z_velocity: 50
max_z_accel: 1000

########################################
# TMC2209 configuration
########################################

[tmc2209 stepper_x]
uart_pin: PB8
diag_pin: PC4
run_current: 0.58
interpolate: true
stealthchop_threshold: 0
sense_resistor: 0.110
driver_SGTHRS: 110
home_current: 0.40

[tmc2209 stepper_y]
uart_pin: PC9
diag_pin: PB0
run_current: 0.65
interpolate: true
stealthchop_threshold: 0
sense_resistor: 0.110
driver_SGTHRS: 120
home_current: 0.40

[tmc2209 stepper_z]
uart_pin: PD0
#diag_pin: PC6
run_current: 0.58
interpolate: true
stealthchop_threshold: 0
sense_resistor: 0.110

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 71.865
#*# pid_ki = 1.100
#*# pid_kd = 1174.087
#*# pid_version = 1
#*# pid_target = 110.00
#*# pid_tolerance = 0.0200
#*#
#*# [cartographer scan_model default]
#*# coefficients = 1.4695984905179609,1.9981715162931386,0.8196363840147824,0.07578131150960672,0.618941536608818,1.4452823224510711,-0.6226931496361469,-1.6636912706372282,0.5125940802090767,0.8459904292425485
#*# domain = 3.304473744025851e-07,3.438044929734664e-07
#*# z_offset = 0
#*# reference_temperature = 28.32
#*# software_version = 1.5.0
#*# mcu_version = CARTOGRAPHER V4 6.0.0
